.orders {
  &__wrapper {
    width: 100%;
    gap: 2rem;
    background-color: $bg-color-light;
    border-radius: 2rem;
    padding: 2rem;
  }

  &__item {
    display: flex;
    width: 100%;
    margin: 2rem 0;
    font-family: $primary-font-regular;
    font-size: $xs-font-size;
  }
}
